.col-md-10
  .row
    .col-md-6
      = link_to 'New sock', new_sock_path, class: 'btn btn-primary'
      = link_to 'Browse socks', socks_path, class: 'btn btn-primary'
      = link_to 'My socks', mine_socks_path, class: 'btn btn-primary'
      .content-box-large
        .panel-heading
          .panel-title Socks
        .panel-body
          %table.table
            %tr
              %th Picture
              %th Description
              %th Size
            - @socks.each do |sock|
              %tr
                %td
                %td= sock.description
                %td= sock.size
                %td= link_to 'Show', sock_path(sock), class: 'btn btn-info'

    .col-md-6
      = link_to 'New request', new_request_path, class: ' btn btn-primary'
      = link_to 'Browse requests', requests_path, class: 'btn btn-primary'
      = link_to 'My requests', mine_requests_path, class: 'btn btn-primary'
      .content-box-large
        .panel-heading
          .panel-title Request
        .panel-body
          %table.table
            %tbody
              %tr
                %th Picture
                %th Description
                %th Size
                %td
              - @requests.each do |request|
                %tr
                  %td
                    - if request.photo.file.present?
                      = image_tag(request.photo.url, class: 'article-picture-mini')
                  %td= request.description
                  %td= request.size
                  %td= link_to 'Show', request_path(request), class: 'btn btn-info'
