.col-md-10
  .row
    .col-md-6
      = link_to 'New sock', new_sock_path, class: 'btn btn-primary'
      = link_to 'Browse socks', socks_path, class: 'btn btn-primary'
      = link_to 'My socks', mine_socks_path, class: 'btn btn-primary'
      .content-box-large
        .panel-heading
          .panel-title Socks
        .panel-body
          = render 'socks/list'
    .col-md-6
      = link_to 'New request', new_request_path, class: ' btn btn-primary'
      = link_to 'Browse requests', requests_path, class: 'btn btn-primary'
      = link_to 'My requests', mine_requests_path, class: 'btn btn-primary'
      .content-box-large
        .panel-heading
          .panel-title Requests
        .panel-body
          = render 'socks/list'
