%table.table
  %tr
    %th Picture
    %th Description
    %th Size
    %th Kind
    %th Color
    %th Material
  - @socks.each do |sock|
    %tr
      %td
        - if sock.photo.file.present?
          = image_tag(sock.photo.url, class: 'picture-mini')
      %td= sock.description
      %td= sock.size
      %td= sock.kind
      %td= sock.color
      %td= sock.material
      %td= link_to 'Show', sock_path(sock), class: 'btn btn-info'
      %td= link_to 'Edit', edit_sock_path(sock), class: 'btn btn-warning'
      %td= link_to 'Delete', sock_path(sock), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

  = paginate @socks
