= link_to 'New sock', new_sock_path
%h1 List of socks
%table
  %tr
    %th Description
    %th Size
    %th Kind
    %th Color
    %th Material
  - @socks.each do |sock|
    %tr
      %td= sock.description
      %td= sock.size
      %td= sock.kind
      %td= sock.color
      %td= sock.material
      %td= link_to 'Show', sock_path(sock)
      %td= link_to 'Edit', edit_sock_path(sock)
