



<p>
  <strong>Description:</strong>
  <%= @sock.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @sock.size %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @sock.kind %>
</p>

<p>
  <strong>Color:</strong>
  <%= @sock.color %>
</p>

<p>
  <strong>Material:</strong>
  <%= @sock.material %>
</p>

<%= link_to 'Edit', edit_sock_path(@sock) %> 
<%= link_to 'Show all socks', socks_path %>