%p
  %strong Description:
  = @sock.description
%p
  %strong Size:
  = @sock.size
%p
  %strong Kind:
  = @sock.kind
%p
  %strong Color:
  = @sock.color
%p
  %strong Material:
  = @sock.material

= link_to 'Edit', edit_sock_path(@sock), class: 'btn btn-warning'
= link_to 'Show all socks', socks_path, class: 'btn btn-primary' 