.container
  = link_to 'New request', new_request_path, class: ' btn btn-primary'
  %h1 All requests

  %table.table
    %tbody
      %tr
        %th Picture
        %th Owner
        %th Description
        %th Size
        %th Kind
        %th Color
        %th Material
    - @requests.each do |request|
      %tr
        %td
          - if request.photo.file.present?
            = image_tag(request.photo.url, class: 'article-picture-mini')
        %td= request.user&.email
        %td= request.description
        %td= request.size
        %td= request.kind
        %td= request.color
        %td= request.fabric
        %td= link_to 'Show', request_path(request), class: 'btn btn-info'
        %td= link_to 'Edit', edit_request_path(request), class: 'btn btn-warning'
        %td= link_to 'Delete', request_path(request), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

  = paginate @requests
